// You can add CSS rules here that will be inlcuded in Hydejack's CSS file
@import 'mc-archive';

.avatar {
  border-radius: 0%
}

#_swipe {
  visibility: hidden;
}

.sidebar {
  .h1 a {
    font-size: 2.5rem;
  }
}

.sidebar-sticky {
  max-width: 25rem;
}

body {
  --border-color: #384248;

  --text-muted: rgba(255,255,255,.5);
  --gray-bg: rgba(255,255,255,.033);
  --gray-text: rgba(255,255,255,.67);
  --menu-text: rgba(255,255,255,.25);
  --body-color: #d8d8d8;
  --body-bg: #2d3539;
}
