name: Deploy

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.GH_REPO_PAT }}
          submodules: true
      - uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile') }}
          restore-keys: |
            ${{ runner.os }}-gems-
      - uses: helaili/jekyll-action@2.1.0
        with:
          token: ${{ secrets.GH_REPO_PAT }}
          jekyll_env: production
          build_only: true
          pre_build_commands: sed -i 's/getclaps.dev/getclaps.app/' _config.yml
      - name: Publish
        uses: cloudflare/wrangler-action@1.3.0
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          environment: production